<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TELEGRAM_API_KEY</key>
	<string>1416179872:AAH8OMUniQk3QY5qUT2EoT9hEHP09LKUXrQ</string>
	<key>PERSONAL_DATA_AGREEMENT</key>
	<string>Предоставляя свои персональные данные Пользователь даёт согласие на обработку, хранение и использование своих персональных данных на основании ФЗ № 152-ФЗ «О персональных данных» от 27.07.2006 г. в следующих целях:

Осуществление исключительно информационной поддержки в приватном чате мессенджера Telegram через бота @ConciergeChatBot.
Получения Пользователем мессенджера Telegram через бота @ConciergeChatBot информации о членах чата дома жильцов &quot;CHAT_NAME&quot; (далее &quot;домовой чат&quot;) в котором состоит Пользователь и в рамках которого обработываются, хранятся и используются данные.
Пользователь, предоставляя свои персональные данные в боте @ConciergeChatBot мессенджера Telegram дает согласие на хранение, обработку и использование персональных данных.
Под персональными данными подразумевается любая информация личного характера, позволяющая установить личность Пользователя такая как:

Имя из мессенджера Telegram,
Username из мессенджера Telegram,
Номер автомобиля,
Номер квартиры,
Номер этажа.

Персональные данные Пользователей хранятся исключительно на электронных носителях и обрабатываются с использованием автоматизированных систем, за исключением случаев, когда неавтоматизированная обработка персональных данных необходима в связи с исполнением требований законодательства.

Сервис обязуется не передавать полученные персональные данные третьим лицам, кроме членов домового чата &quot;CHAT_NAME&quot; в котором состоит Пользователь и чьи участники дали данное согласие.

Согласие может быть отозвано Пользователем в любой момент путем удаления своих данных, которые будут введены, используя функцию сервиса - кнопка &quot;Выписаться&quot;. 

Сервис вправе удалять данные Пользователя без его согласия. 

Цель сбора и обработки персональных данных:
Поиск других Пользователей, а именно членов домового чата &quot;CHAT_NAME&quot; мессенджера Telegram в котором состоит Пользователь: по номеру квартиры, по номеру автомобиля.

Сбор данных осуществляется исключительно личным вводом Пользователя в приватном чате бота @ConciergeChatBot
</string>
</dict>
</plist>
